﻿@model FosteringMinds.ClientWebUI.Models.DefaultModel
@{
  ViewBag.Title = $"{Model.Counsellor.CounsellorName} - About";
  Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<header id="page-title">
  <div class="container">
    <h1>About <strong>Me</strong></h1>
  </div>
</header>
<section class="container">

  <!-- WELCOME -->
  <article>
    <h2>Welcome to Atropos</h2>
    <p>Sed ut perspiciatis unde omnis <strong>iste natus error</strong> sit voluptatem accusantium <em>doloremque laudantium</em>, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia <a href="#">voluptas sit aspernatur</a> aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut <strong>labore dolore magnm</strong> aliquam quaerat voluptatem.</p>
    <p class="lead">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
  </article>
  <!-- WELCOME -->

  <div class="divider">
    <!-- divider -->
    <i class="fa fa-star"></i>
  </div>

  <!-- BORN TO BE A WINNER -->
  <article class="row">
    <div class="col-md-6">
      <div class="owl-carousel controlls-over owl-theme owl-carousel-init" data-plugin-options="{&quot;items&quot;: 1, &quot;singleItem&quot;: true, &quot;navigation&quot;: true, &quot;pagination&quot;: true, &quot;transitionStyle&quot;:&quot;fadeUp&quot;}" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
          <div class="owl-wrapper" style="width: 3330px; left: 0px; display: block;">
            <div class="owl-item" style="width: 555px;">
              <div>
                <img class="img-responsive" src="@Url.Content("~/Content/images/about_1.jpg")" width="555" height="311" alt="">
              </div>
            </div><div class="owl-item" style="width: 555px;">
              <div>
                <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="http://player.vimeo.com/video/23630702" id="fitvid718761"></iframe></div>
              </div>
            </div><div class="owl-item" style="width: 555px;">
              <div>
                <img class="img-responsive" src="@Url.Content("~/Content/images/about_2.jpg")" width="555" height="311" alt="">
              </div>
            </div>
          </div>
        </div>


        <div class="owl-controls"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-chevron-left"></i></div><div class="owl-next"><i class="fa fa-chevron-right"></i></div></div></div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Atropos : Born to be a Winner</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
    </div>
  </article>
  <!-- /BORN TO BE A WINNER -->


  <div class="divider">
    <!-- divider -->
    <i class="fa fa-star"></i>
  </div>


  <!-- WHO WE ARE and SKILLS -->
  <article class="row">
    <div class="col-md-6">
      <h3>Who is Atropos</h3>

      <div class="toogle">

        <div class="toggle">
          <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
          <div class="toggle-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="">Popover on top</a></p>
          </div>
        </div>

        <div class="toggle">
          <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
          <div class="toggle-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="">Popover on top</a></p>
          </div>
        </div>

        <div class="toggle">
          <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
          <div class="toggle-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="">Popover on top</a></p>
          </div>
        </div>

        <div class="toggle">
          <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
          <div class="toggle-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="">Popover on top</a></p>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <h3>Atropos Alien Skills</h3>

      <div class="progress-bars">

        <div class="progress-label">
          <span>HTML/CSS</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-primary 100% animation-visible" data-appear-progress-animation="100%" style="width: 100%;">
            <span class="progress-bar-tooltip" style="opacity: 1;">100%</span>
          </div>
        </div>
        <div class="progress-label">
          <span>Design</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-primary 86% animation-visible" data-appear-progress-animation="86%" data-appear-animation-delay="300" style="animation-delay: 300ms; width: 86%;">
            <span class="progress-bar-tooltip" style="opacity: 1;">86%</span>
          </div>
        </div>
        <div class="progress-label">
          <span>Mysql</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-primary 69% animation-visible" data-appear-progress-animation="69%" data-appear-animation-delay="600" style="animation-delay: 600ms; width: 69%;">
            <span class="progress-bar-tooltip" style="opacity: 1;">69%</span>
          </div>
        </div>
        <div class="progress-label">
          <span>PHP</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-primary 96% animation-visible" data-appear-progress-animation="96%" data-appear-animation-delay="900" style="animation-delay: 900ms; width: 96%;">
            <span class="progress-bar-tooltip" style="opacity: 1;">96%</span>
          </div>
        </div>

      </div>

    </div>
  </article>
  <!-- /WHO WE ARE and SKILLS -->


  <div class="divider">
    <!-- divider -->
    <i class="fa fa-star"></i>
  </div>

  <!-- TEAM -->
  <article class="row">
    <div class="col-md-12">
      <h3>Meet Atropos Team</h3>

      <div class="row">

        <div class="col-sm-6 col-md-3">
          <!-- item 1 -->
          <div class="item-box fixed-box">
            <figure>
              <img class="img-responsive" src="@Url.Content("~/Content/images/people/1.jpg")" width="263" height="263" alt="">
            </figure>
            <div class="item-box-desc">
              <h4>John Doe</h4>
              <small class="styleColor">CEO</small>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
              <div class="row socials">
                <a href="#" class="social fa fa-facebook"></a>
                <a href="#" class="social fa fa-twitter"></a>
                <a href="#" class="social fa fa-google-plus"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <!-- item 2 -->
          <div class="item-box fixed-box">
            <figure>
              <img class="img-responsive" src="@Url.Content("~/Content/images/people/2.jpg")" width="263" height="263" alt="">
            </figure>
            <div class="item-box-desc">
              <h4>John Doe</h4>
              <small class="styleColor">Marketing</small>
              <p>This is a short text - the content remains the same!</p>
              <div class="row socials">
                <a href="#" class="social fa fa-facebook"></a>
                <a href="#" class="social fa fa-twitter"></a>
                <a href="#" class="social fa fa-google-plus"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <!-- item 3 -->
          <div class="item-box fixed-box">
            <figure>
              <img class="img-responsive" src="@Url.Content("~/Content/images/people/3.jpg")" width="263" height="263" alt="">
            </figure>
            <div class="item-box-desc">
              <h4>John Doe</h4>
              <small class="styleColor">Developer</small>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
              <div class="row socials">
                <a href="#" class="social fa fa-facebook"></a>
                <a href="#" class="social fa fa-twitter"></a>
                <a href="#" class="social fa fa-google-plus"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <!-- item 4 -->
          <div class="item-box fixed-box">
            <figure>
              <img class="img-responsive" src="@Url.Content("~/Content/images/people/4.jpg")" width="263" height="263" alt="">
            </figure>
            <div class="item-box-desc">
              <h4>John Doe</h4>
              <small class="styleColor">Designer</small>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
              <div class="row socials">
                <a href="#" class="social fa fa-facebook"></a>
                <a href="#" class="social fa fa-twitter"></a>
                <a href="#" class="social fa fa-google-plus"></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </article>
  <!-- /TEAM -->


  <hr>

  <div class="owl-carousel owl-theme owl-carousel-init" data-plugin-options="{&quot;items&quot;: 5, &quot;singleItem&quot;: false, &quot;autoPlay&quot;: true, &quot;navigation&quot;: false, &quot;pagination&quot;: false}" style="opacity: 1; display: block;">
    <div class="owl-wrapper-outer">
      <div class="owl-wrapper" style="width: 3648px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-228px, 0px, 0px);">
        <div class="owl-item" style="width: 228px;">
          <div>
            <img class="img-responsive" src="@Url.Content("~/Content/images/brands/1.jpg")" alt="">
          </div>
        </div><div class="owl-item" style="width: 228px;">
          <div>
            <img class="img-responsive" src="@Url.Content("~/Content/images/brands/2.jpg")" alt="">
          </div>
        </div><div class="owl-item" style="width: 228px;">
          <div>
            <img class="img-responsive" src="@Url.Content("~/Content/images/brands/3.jpg")" alt="">
          </div>
        </div><div class="owl-item" style="width: 228px;">
          <div>
            <img class="img-responsive" src="@Url.Content("~/Content/images/brands/4.jpg")" alt="">
          </div>
        </div><div class="owl-item" style="width: 228px;">
          <div>
            <img class="img-responsive" src="@Url.Content("~/Content/images/brands/5.jpg")" alt="">
          </div>
        </div><div class="owl-item" style="width: 228px;">
          <div>
            <img class="img-responsive" src="@Url.Content("~/Content/images/brands/6.jpg")" alt="">
          </div>
        </div><div class="owl-item" style="width: 228px;">
          <div>
            <img class="img-responsive" src="@Url.Content("~/Content/images/brands/7.jpg")" alt="">
          </div>
        </div><div class="owl-item" style="width: 228px;">
          <div>
            <img class="img-responsive" src="@Url.Content("~/Content/images/brands/8.jpg")" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

