﻿@model FosteringMinds.ClientWebUI.Models.DefaultModel
@{
    ViewBag.Title = $"{Model.Counsellor.CounsellorName} - Home";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<div class="fullwidthbanner-container roundedcorners" style="overflow: visible;">
  <div class="fullwidthbanner revslider-initialised tp-simpleresponsive hovered" id="revslider-89" style="max-height: 500px; height: 500px;">
    <ul class="tp-revslider-mainul" style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="@Url.Content("~/Content/images/medical_1.jpg")" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="@Url.Content("~/Content/images/medical_1.jpg")" data-src="assets/images/dummy.png" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;Content/images/medical_1.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit;"></div></div>
        <div class="tp-caption medium_text lft start" data-x="90" data-y="180" data-speed="300" data-start="500" data-easing="easeOutExpo" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 20px; left: 90px; top: 180px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -45, 0, 1);">
          Pediatric Care
        </div>

        <div class="tp-caption large_text lfb start" data-x="90" data-y="222" data-speed="300" data-start="800" data-easing="easeOutExpo" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 40px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 90px; top: 222px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1);">
          A wide spectre of quality<br> medical services
        </div>

        <div class="tp-caption lfb start" data-x="90" data-y="330" data-speed="300" data-start="1100" data-easing="easeOutExpo" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 90px; top: 330px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1);">
          <a href="https://wrapbootstrap.com/theme/atropos-responsive-website-template-WB05SR527" target="_blank" class="btn btn-primary btn-lg">Buy This Theme</a>
        </div>
      </li>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="@Url.Content("~/Content/images/medical_2.jpg")" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="@Url.Content("~/Content/images/medical_2.jpg")" data-src="assets/images/dummy.png" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;Content/images/medical_2.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit;"></div></div>
        <div class="tp-caption medium_text lft start" data-x="90" data-y="180" data-speed="300" data-start="500" data-easing="easeOutExpo" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 20px; left: 90px; top: 180px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -45, 0, 1);">
          Full Treatment
        </div>

        <div class="tp-caption large_text lfb start" data-x="90" data-y="222" data-speed="300" data-start="800" data-easing="easeOutExpo" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 40px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 90px; top: 222px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1);">
          A wide spectre of quality<br> medical services
        </div>

        <div class="tp-caption lfb start" data-x="90" data-y="330" data-speed="300" data-start="1100" data-easing="easeOutExpo" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 90px; top: 330px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 525, 0, 1);">
          <a href="https://wrapbootstrap.com/theme/atropos-responsive-website-template-WB05SR527" target="_blank" class="btn btn-primary btn-lg">Buy This Theme</a>
        </div>
      </li>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" class="tp-revslider-slidesli active-revslide current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; visibility: inherit; opacity: 1; z-index: 20;">
        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="@Url.Content("~/Content/images/medical_3.jpg")" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="@Url.Content("~/Content/images/medical_3.jpg")" data-src="assets/images/dummy.png" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;Content/images/medical_3.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit;"></div></div>
        <div class="tp-caption medium_text lft start" data-x="90" data-y="180" data-speed="300" data-start="500" data-easing="easeOutExpo" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 20px; left: 90px; top: 180px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
          Pediatric Care
        </div>

        <div class="tp-caption large_text lfb start" data-x="90" data-y="222" data-speed="300" data-start="800" data-easing="easeOutExpo" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 40px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 90px; top: 222px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
          A wide spectre of quality<br> medical services
        </div>

        <div class="tp-caption lfb start" data-x="90" data-y="330" data-speed="300" data-start="1100" data-easing="easeOutExpo" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 90px; top: 330px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
          <a href="https://wrapbootstrap.com/theme/atropos-responsive-website-template-WB05SR527" target="_blank" class="btn btn-primary btn-lg">Buy This Theme</a>
        </div>
      </li>

    </ul>
    <div class="tp-bannertimer" style="width: 33.9111%; visibility: visible; transform: translate3d(0px, 0px, 0px);"></div>
    <div class="tp-loader spinner0" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
  </div>
  <div class="tp-bannershadow tp-shadow1" style="width: 1170px; left: 0px;"></div>
  <div class="tp-bullets simplebullets round" style="bottom: 0px; left: 50%; margin-left: -36px;">    
    <div class="bullet first"></div>
    <div class="bullet"></div>
    <div class="bullet last selected"></div>
    <div class="tpclear"></div>
  </div>
  <div style="position: absolute; top: 250px; margin-top: -20px; left: 20px;" class="tp-leftarrow tparrows default round">    
    <div class="tp-arr-allwrapper">
      <div class="tp-arr-iwrapper">
        <div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;Content/images/medical_2.jpg&quot;);"></div>
        <div class="tp-arr-imgholder2"></div>
        <div class="tp-arr-titleholder"></div>
        <div class="tp-arr-subtitleholder"></div>
      </div>
    </div>
  </div>
  <div style="position: absolute; top: 250px; margin-top: -20px; right: 20px;" class="tp-rightarrow tparrows default round">    
    <div class="tp-arr-allwrapper">
      <div class="tp-arr-iwrapper">
        <div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;Content/images/medical_1.jpg&quot;);"></div>
        <div class="tp-arr-imgholder2"></div>
        <div class="tp-arr-titleholder"></div>
        <div class="tp-arr-subtitleholder"></div>
      </div>
    </div>
  </div>
</div>
<section class="container text-center">
  <h1 class="text-center">
    Candice <strong>Gillespie</strong>
    <span class="subtitle">NEVER GIVE UP, ALWAYS MOVE FORWARD!</span>
  </h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
</section>
<div class="container">
  <hr class="half-margins"><!-- hr line -->
</div>
<section class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Why Atropos Medical?</h2>
      <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing</a> elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
      <h4>Opening Hours</h4>
      <div class="row">
        <div class="col-md-4">
          Monday - Friday <br>
          Saturday <br>
          Sunday <br>
        </div>
        <div class="col-md-4">
          8.00 - 17.00<br>
          9.30 - 17.30<br>
          9.30 - 15.00<br>
        </div>
      </div>
    </div>

    <div class="col-md-6">

      <!-- carousel -->
      <div class="owl-carousel controlls-over owl-theme owl-carousel-init" data-plugin-options="{&quot;items&quot;: 1, &quot;singleItem&quot;: true, &quot;navigation&quot;: true, &quot;pagination&quot;: true, &quot;transitionStyle&quot;:&quot;fadeUp&quot;}" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
          <div class="owl-wrapper" style="width: 2220px; left: 0px; display: block;">
            <div class="owl-item" style="width: 555px;">
              <div>
                <img alt="" class="img-responsive" src="@Url.Content("~/Content/images/medical_slide_2.jpg")">
              </div>
            </div><div class="owl-item" style="width: 555px;">
              <div>
                <img alt="" class="img-responsive" src="@Url.Content("~/Content/images/medical_slide_1.jpg")">
              </div>
            </div>
          </div>
        </div>

        <div class="owl-controls"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-chevron-left"></i></div><div class="owl-next"><i class="fa fa-chevron-right"></i></div></div></div>
      </div>
      <!-- /carousel -->

    </div>
  </div>
</section>
<div class="divider">
  <!-- divider -->
  <i class="fa fa-leaf"></i>
</div>
<section class="container">
  <div class="row text-center">

    <div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
      <figure>
        <img class="img-responsive" src="@Url.Content("~/Content/images/medical_3.jpg")" alt="">
      </figure>

      <h3>Medical Treatment</h3>
      <p>Duis mollis, est non commodo luctus, nis erat po rttitor ligula, eget lacinia odio sem nec elit.Cras m attis consectetur purus sit amet.</p>
      <a href="#" class="btn btn-primary btn-xs">READ MORE</a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
      <figure>
        <img class="img-responsive" src="@Url.Content("~/Content/images/medical_2.jpg")" alt="">
      </figure>

      <h3>Cardio Monitoring</h3>
      <p>Duis mollis, est non commodo luctus, nis erat po rttitor ligula, eget lacinia odio sem nec elit.Cras m attis consectetur purus sit amet.</p>
      <a href="#" class="btn btn-primary btn-xs">READ MORE</a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
      <figure>
        <img class="img-responsive" src="@Url.Content("~/Content/images/medical_1.jpg")" alt="">
      </figure>

      <h3>Emergency Help</h3>
      <p>Duis mollis, est non commodo luctus, nis erat po rttitor ligula, eget lacinia odio sem nec elit.Cras m attis consectetur purus sit amet.</p>
      <a href="#" class="btn btn-primary btn-xs">READ MORE</a>
    </div>

  </div>
</section>

<script type="text/javascript" src="~/Scripts/plugins/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.appear.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.isotope.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/masonry.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/stellar/jquery.stellar.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/knob/js/jquery.knob.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/superslides/dist/jquery.superslides.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/slider.revolution.v4/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/slider.revolution.v4/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/slider_revolution.js"></script>
<script type="text/javascript">
  jQuery(window).ready(function () {
    _superslide();
    _owl_carousel();
  });
  function _superslide() {

    if (jQuery("#slider").length > 0) {

      var data_autoplay = jQuery("#slider").attr('data-autoplay'),
        data_mouseover_stop = jQuery("#slider").attr('data-mouseover-stop');

      if (data_autoplay) {
        if (data_autoplay == '') {
          var data_autoplay = false;
        } else {
          var data_autoplay = parseInt(data_autoplay);
        }
      } else {
        var data_autoplay = false;
      }

      if (!data_autoplay) {
        data_mouseover_stop = false;
      }

      jQuery("#slider").superslides({
        animation: "fade", 				// slide|fade
        pagination: true, 				// true|false
        play: data_autoplay,	 		// false to disable autoplay -OR- miliseconds (eg.: 1000 = 1s)
        animation_speed: 600,			// animation transition

        elements: {
          preserve: '.preserve',
          nav: '.slides-navigation',
          container: '.slides-container',
          pagination: '.slides-pagination'
        }
      });

      if (data_mouseover_stop == 'true') {

        // Stop on mouse over ! 
        jQuery('#slider').on('mouseenter', function () {
          jQuery(this).superslides('stop');
          // console.log('Stopped')
        });
        jQuery('#slider').on('mouseleave', function () {
          jQuery(this).superslides('start');
          // console.log('_start')
        });

      }

      jQuery(window).load(function () {
        jQuery("#slider").css({ "background": "none" });
      });

    }
  }
  function _owl_carousel() {

    var total = jQuery("div.owl-carousel").length,
      count = 0;

    jQuery("div.owl-carousel").each(function () {

      var slider = jQuery(this);
      var options = slider.attr('data-plugin-options');

      var defaults = {
        items: 5,
        itemsCustom: false,
        itemsDesktop: [1199, 4],
        itemsDesktopSmall: [980, 3],
        itemsTablet: [768, 2],
        itemsTabletSmall: false,
        itemsMobile: [479, 1],
        singleItem: true,
        itemsScaleUp: false,

        slideSpeed: 200,
        paginationSpeed: 800,
        rewindSpeed: 1000,

        autoPlay: false,
        stopOnHover: false,

        navigation: false,
        navigationText: [
          '<i class="fa fa-chevron-left"></i>',
          '<i class="fa fa-chevron-right"></i>'
        ],
        rewindNav: true,
        scrollPerPage: false,

        pagination: true,
        paginationNumbers: false,

        responsive: true,
        responsiveRefreshRate: 200,
        responsiveBaseWidth: window,

        baseClass: "owl-carousel",
        theme: "owl-theme",

        lazyLoad: false,
        lazyFollow: true,
        lazyEffect: "fade",

        autoHeight: false,

        jsonPath: false,
        jsonSuccess: false,

        dragBeforeAnimFinish: true,
        mouseDrag: true,
        touchDrag: true,

        transitionStyle: false,

        addClassActive: false,

        beforeUpdate: false,
        afterUpdate: false,
        beforeInit: false,
        afterInit: false,
        beforeMove: false,
        afterMove: false,
        afterAction: false,
        startDragging: false,
        afterLazyLoad: false
      }

      var config = jQuery.extend({}, defaults, options, slider.data("plugin-options"));
      slider.owlCarousel(config).addClass("owl-carousel-init");
    });
  }
</script>





