﻿@model FosteringMinds.ClientWebUI.Models.DefaultModel
@{
  ViewBag.Title = $"{Model.Counsellor.CounsellorName} - Services";
  Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<header id="page-title">
  <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
  <!--
  Enable only if bright background image used
  <span class="overlay"></span>
  -->

  <div class="container">
    <h1>Services</h1>
  </div>
</header>

<section class="container">

  <h2><strong>Atropos</strong> Services</h2>

  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>


  <div class="divider">
    <!-- divider -->
    <i class="fa fa-star"></i>
  </div>


  <!-- BORN TO BE A WINNER -->
  <article class="row">
    <div class="col-md-6">
      <div class="owl-carousel controlls-over owl-theme owl-carousel-init" data-plugin-options="{&quot;items&quot;: 1, &quot;singleItem&quot;: true, &quot;navigation&quot;: true, &quot;pagination&quot;: true, &quot;transitionStyle&quot;:&quot;fadeUp&quot;}" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
          <div class="owl-wrapper" style="width: 3330px; left: 0px; display: block;">
            <div class="owl-item" style="width: 555px;">
              <div>
                <img class="img-responsive" src="@Url.Content("~/Content/images/about_1.jpg")" width="555" height="311" alt="">
              </div>
            </div><div class="owl-item" style="width: 555px;">
              <div>
                <div class="fluid-width-video-wrapper" style="padding-top: 56.036%;"><iframe src="http://www.youtube.com/embed/-bdKMT1znJ0" id="fitvid556309"></iframe></div>
              </div>
            </div><div class="owl-item" style="width: 555px;">
              <div>
                <img class="img-responsive" src="@Url.Content("~/Content/images/about_2.jpg")" width="555" height="311" alt="">
              </div>
            </div>
          </div>
        </div>


        <div class="owl-controls"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-chevron-left"></i></div><div class="owl-next"><i class="fa fa-chevron-right"></i></div></div></div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Atropos : Four Areas of Expertise</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
    </div>
  </article>
  <!-- /BORN TO BE A WINNER -->

  <hr>

  <!-- FEATURED BOXES 3 -->
  <div class="row">
    <div class="col-md-3">
      <div class="featured-box nobg border-only">
        <div class="box-content">
          <i class="fa fa-user"></i>
          <h4>Loved by Customers</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="featured-box nobg border-only">
        <i class="fa fa-book"></i>
        <h4>Well Documented</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="featured-box nobg border-only">
        <i class="fa fa-trophy"></i>
        <h4>Winner</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="featured-box nobg border-only">
        <i class="fa fa-cogs"></i>
        <h4>Customizable</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
      </div>
    </div>
  </div>
  <!-- /FEATURED BOXES 3 -->

  <hr>

  <h2>What else Atropos can offer?</h2>

  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>

  <div class="tabs">

    <!-- tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#service-1" data-toggle="tab"><i class="fa fa-heart-o"></i> Service 1</a></li>
      <li><a href="#service-2" data-toggle="tab"><i class="fa fa-smile-o"></i> Service 2</a></li>
      <li><a href="#service-3" data-toggle="tab"><i class="fa fa-microphone"></i> Service 3</a></li>
      <li><a href="#service-4" data-toggle="tab"><i class="fa fa-windows"></i> Service 4</a></li>
      <li><a href="#service-5" data-toggle="tab"><i class="fa fa-flask"></i> Service 5</a></li>
    </ul>

    <!-- tabs content -->
    <div class="tab-content">
      <div class="tab-pane active" id="service-1">
        <i class="featured-icon pull-left fa fa-heart-o"><!-- service icon --></i>
        <p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci amets uns. Etharums ser quidem rerum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla dolores ipsums fugiats. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud neque porro quisquam est. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit.</p>
        <p>Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor.</p>
      </div>

      <div class="tab-pane" id="service-2">
        <i class="featured-icon pull-left fa fa-smile-o"><!-- service icon --></i>
        <p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci amets uns. Etharums ser quidem rerum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla dolores ipsums fugiats. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud neque porro quisquam est. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit.</p>
        <p>Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor.</p>
        <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
      </div>

      <div class="tab-pane" id="service-3">
        <i class="featured-icon pull-left fa fa-microphone"><!-- service icon --></i>
        <p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci amets uns. Etharums ser quidem rerum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla dolores ipsums fugiats. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud neque porro quisquam est. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit.</p>
        <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
      </div>

      <div class="tab-pane" id="service-4">
        <i class="featured-icon pull-left fa fa-windows"><!-- service icon --></i>
        <p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci amets uns. Etharums ser quidem rerum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla dolores ipsums fugiats. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets. Ut enim ad minim veniam, quis nostrud neque porro quisquam est. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit.</p>
        <p>Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor.</p>
      </div>

      <div class="tab-pane" id="service-5">
        <i class="featured-icon pull-left fa fa-flask"><!-- service icon --></i>
        <p>Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor.</p>
        <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
      </div>

    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h4>Why chose us?</h4>
      <ul class="list-icon star-o">
        <li>Fully responsive so your content will always look good on any screen size</li>
        <li>Awesome sliders give you the opportunity to showcase important content</li>
        <li>Unlimited color options with a backed color picker, including the gradients</li>
        <li>Multiple layout options for home pages, portfolio section &amp; blog section</li>
        <li>We offer free support because we care about your site as much as you do.</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h4>What Atropos clients say?</h4>
      <div class="owl-carousel text-center owl-theme owl-carousel-init" data-plugin-options="{&quot;items&quot;: 1, &quot;singleItem&quot;: true, &quot;navigation&quot;: false, &quot;pagination&quot;: true, &quot;autoPlay&quot;: true, &quot;transitionStyle&quot;:&quot;fadeUp&quot;}" style="opacity: 1; display: block;">
        <!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
        <div class="owl-wrapper-outer">
          <div class="owl-wrapper" style="width: 4440px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(-1110px, 0px, 0px); transform-origin: 1387.5px center 0px; perspective-origin: 1387.5px center;">
            <div class="owl-item" style="width: 555px;">
              <div class="testimonial white">
                <p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                <cite><strong>John Doe</strong>, Customer</cite>
              </div>
            </div><div class="owl-item" style="width: 555px;">
              <div class="testimonial white">
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
                <cite><strong>Jessica Doe</strong>, Customer</cite>
              </div>
            </div><div class="owl-item" style="width: 555px;">
              <div class="testimonial white">
                <p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                <cite><strong>Dorin Doe</strong>, Customer</cite>
              </div>
            </div><div class="owl-item" style="width: 555px;">
              <div class="testimonial white">
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
                <cite><strong>Melissa Doe</strong>, Customer</cite>
              </div>
            </div>
          </div>
        </div>







        <div class="owl-controls"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
      </div>
    </div>
  </div>

  <hr>

  <!-- CALLOUT -->
  <div class="bs-callout text-center nomargin-bottom">
    <h1>
      <strong>1800-555-1234</strong>
    </h1>

    <hr class="half-margins invisible">

    <h3>
      <a href="contact-us.html" target="_blank" class="btn btn-primary btn-lg">Contact Us!</a>
    </h3>
  </div>
  <!-- /CALLOUT -->

</section>

