﻿@model FosteringMinds.ClientWebUI.Models.DefaultModel
<h2>
  <strong>Counsellor</strong> Details
</h2>
<form action="#" method="post">
  <div class="row">
    <div class="form-group">
      <div class="col-md-6">
        <label>Name</label>
        <input type="text" value="@Model.Counsellor.CounsellorName" class="form-control" placeholder="Counsellor Name" />
      </div>
      <div class="col-md-6">
        <label>Web Address</label>
        <input type="text" value="@Model.Counsellor.CounsellorDomain" class="form-control" placeholder="Web Address" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <label>Counsellor Bio</label>
        <textarea class="form-control">@Model.Counsellor.CounsellorBio</textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" id="btnSaveCounsellor" type="button"><i class="fa fa-save"></i> SAVE</button>
    </div>
  </div>
</form>