﻿@using Microsoft.AspNet.Identity
@model FosteringMinds.ClientWebUI.Models.DefaultModel

<header id="topNav">
  <div class="container">

    <!-- Mobile Menu Button -->
    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
      <i class="fa fa-bars"></i>
    </button>

    <!-- Logo text or image -->

    <a class="logo" href="@Url.Action("Index", "Home")">
      <img src="@Url.Content("~/Content/images/logo.png")" alt="Atropos">
    </a>

    <!-- Top Nav -->
    <div class="navbar-collapse nav-main-collapse collapse pull-right">
      <nav class="nav-main mega-menu">
        <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
          <li>
            <a href="@Url.Action("Index", "Home")">
              Home
            </a>
          </li>
          <li>
            <a href="@Url.Action("About", "Home")">
              About
            </a>
          </li>
          <li>
            <a href="@Url.Action("Services", "Home")">
              Services
            </a>
          </li>
          <li>
            <a href="@Url.Action("Contact", "Home")">
              Contact
            </a>
          </li>
          @if (Request.IsAuthenticated)
          {
            <li class="dropdown mega-menu-item mega-menu-two-columns">
              <a class="dropdown-toggle" href="#">
                Admin <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu">
                @foreach (var m in Model.MenuModel.Menus)
                {
                <li>@Html.ActionLink(m.MenuDisplayText, "Index", "Admin", new {viewName = m.MenuViewName}, null)</li>
                }
                @*<li>@Html.ActionLink("Bio", "Index", "Admin", new {viewName = "bio"}, null)</li>
                  <li><a href="magazine-category.html">Services</a></li>
                  <li><a href="magazine-single.html">Contact Details</a></li>
                  <li><a href="magazine-single.html">Practitioners</a></li>
                  <li><a href="magazine-single.html">Procedure Codes</a></li>
                  <li><a href="magazine-single.html">ICD10 Codes</a></li>
                  <li><a href="magazine-single.html">Clients</a></li>*@
              </ul>
            </li>
            <li>
              @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
              {
                @Html.AntiForgeryToken()
                <a style="display: block;padding: 10px 15px;" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
              }
            </li>
          }
          <!-- /GLOBAL SEARCH -->
        </ul>
      </nav>
    </div>
    <!-- /Top Nav -->
  </div>
</header>
