﻿<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link rel="stylesheet" href="~/Content/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/Content/signin.css" />
</head>
<body>
  <div>
    @RenderBody()
  </div>
</body>
</html>