﻿<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link rel="stylesheet" href="~/Content/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/Content/dist/css/font-awesome.min.css" />
  <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Fostering Minds Admin", "Index", "Home", null, new { @class = "navbar-brand" })
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Health Care Professionals", "Index", new { viewName = "healthCareProfessionals" }, null)</li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container-fluid">
    @RenderBody()
  </div>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-91315679-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script type="text/javascript" src="~/Scripts/jquery-bundle.min.js"></script>
  <script type="text/javascript" src="~/Scripts/bootstrap-bundle.min.js"></script>
  <script type="text/javascript" src="~/Scripts/fosteringminds.js"></script>
</body>
</html>
