﻿html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;
}

.col-label {
  text-align: right;
  font-weight: bold;
}

.container textarea {
  resize: none;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  height: 97%;
  max-height: 97%;
  width: 45%;
}

.actionArea {
  text-align: right;
  margin-bottom: 5px;
}

#counsellorEditPartial textarea {
  width: 100%;
  min-height: 400px;
}
#counsellorEditPartial .page-header {
  margin-top: 20px;
}
.counsellorBioContainer {
  min-height: 400px;
  width: 100%;
}

.headerSpan {
  font-size: 10px;
}
.counsellorEditNav {
  margin-top: 20px;
}
.healthCareProfessionalEdit {
  /*position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;  
  height: -webkit-calc(100vh - 114px);
  height: -moz-calc(100vh - 114px);
  height: calc(100vh - 114px);
  width: 100%;*/
    position: fixed;
    top: 25px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.healthCareProfessionalEdit {
    height: 75%;
    max-height: 75%;
}