﻿@model FosteringMinds.WebUI.SharedModels.AdminModel
@{
  var headerTitle = "[title]";
  var headerFirstName = "[first name]";
  var headerLastName = "[last name]";
  if (!string.IsNullOrEmpty(Model.HealthCareProfessional.HealthCareProfessionalTitle))
  {
    headerTitle = Model.HealthCareProfessional.HealthCareProfessionalTitle;
  }
  if (!string.IsNullOrEmpty(Model.HealthCareProfessional.HealthCareProfessionalFirstName))
  {
    headerFirstName = Model.HealthCareProfessional.HealthCareProfessionalFirstName;
  }
  if (!string.IsNullOrEmpty(Model.HealthCareProfessional.HealthCareProfessionalLastName))
  {
    headerLastName = Model.HealthCareProfessional.HealthCareProfessionalLastName;
  }
}
<div class="row">
  <div class="col-md-12">
    <h1>@headerTitle @headerFirstName @headerLastName</h1>
    <h2>Leads</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-default" href="@Url.Action("ClientLead", "Home", new { viewName = "clientLead", healthCareProfessionalId = Model.HealthCareProfessional.HealthCareProfessionalId, clientLeadId = 0})">
      New Lead
    </a>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th style="width:20%">Name</th>
        <th style="width:10%">Contact number</th>
        <th style="width:20%">Email</th>
        <th style="width:50%">Message</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var l in Model.ClientLeads)
      {
        <tr>
          <td>
            @l.ClientName
          </td>
          <td>
            @l.ContactNumber
          </td>
          <td>
            @l.EmailAddress
          </td>
          <td>
            @l.Message
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>