﻿@model FosteringMinds.WebUI.SharedModels.AdminModel
@{
  var headerTitle = "[title]";
  var headerFirstName = "[first name]";
  var headerLastName = "[last name]";
  if (!string.IsNullOrEmpty(Model.HealthCareProfessional.HealthCareProfessionalTitle))
  {
    headerTitle = Model.HealthCareProfessional.HealthCareProfessionalTitle;
  }
  if (!string.IsNullOrEmpty(Model.HealthCareProfessional.HealthCareProfessionalFirstName))
  {
    headerFirstName = Model.HealthCareProfessional.HealthCareProfessionalFirstName;
  }
  if (!string.IsNullOrEmpty(Model.HealthCareProfessional.HealthCareProfessionalLastName))
  {
    headerLastName = Model.HealthCareProfessional.HealthCareProfessionalLastName;
  }
}


<div class="col-md-7">
  <h1>@headerTitle @headerFirstName @headerLastName</h1>
  @if (Model.HealthCareProfessional != null)
  {
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-default" id="btnSaveHealthCareProfessional">Save</button>
        <a class="btn btn-default" href="@Url.Action("HealthCareProfessional", "Home", new { viewName = "healthCareProfessional", healthCareProfessionalId = 0})">
          New
        </a> 
        <input type="hidden" id="healthCareProfessionalId" value="@Model.HealthCareProfessional.HealthCareProfessionalId" />
        <hr />
      </div>
    </div>
    if (Model.ValidationResults != null)
    {
      <div class="row">
        <div class="col-md-12">
          @foreach (var vr in Model.ValidationResults)
          {
            <div class="alert alert-danger" role="alert">
              @vr.ErrorMessage
            </div>
          }
        </div>
      </div>
    }
    if (Model.HealthCareProfessional.HealthCareProfessionalId > 0)
    {
      <div class="row">
        <div class="col-md-12">
          <span>Last Update: @Model.HealthCareProfessional.DateUpdated.ToLongTimeString()</span>
        </div>
      </div>
    }
    <div class="row">
      <div class="col-md-3">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" placeholder="First Name" id="firstName" name="firstName" value="@Model.HealthCareProfessional.HealthCareProfessionalFirstName" />
      </div>
      <div class="col-md-3">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" placeholder="Last Name" id="lastName" name="lastName" value="@Model.HealthCareProfessional.HealthCareProfessionalLastName" />
      </div>
      <div class="col-md-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" placeholder="Title" id="title" name="title" value="@Model.HealthCareProfessional.HealthCareProfessionalTitle" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="url">Url</label>
        <input type="text" class="form-control" placeholder="Url" id="url" name="url" value="@Model.HealthCareProfessional.HealthCareProfessionalUrl" />
      </div>
      <div class="col-md-6">
        <label for="practiceNumber">Practice number</label>
        <input type="text" class="form-control" placeholder="Practice Number" id="practiceNumber" name="practiceNumber" value="@Model.HealthCareProfessional.HealthCareProfessionalPracticeNumber" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="bio">Bio</label>
        <textarea class="form-control" id="bio" style="height: 60vh">@Model.HealthCareProfessional.HealthCareProfessionalBio</textarea>
      </div>
    </div>
  }
</div>

