﻿@model FosteringMinds.WebUI.SharedModels.AdminModel
<div class="row">
  <div class="col-md-12">
    <h1>Health Care Professionals</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-default" href="@Url.Action("HealthCareProfessional", "Home", new { viewName = "healthCareProfessional", healthCareProfessionalId = 0})">
      New
    </a>    
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <th style="width:2%">
          &nbsp;
        </th>
        <th style="width:2%">
          &nbsp;
        </th>
        <th style="width:20%">
          First Name
        </th>
        <th style="width:20%">
          Last Name
        </th>
        <th style="width:5%">
          Title
        </th>
        <th style="width:15%">
          Practice Number
        </th>
        <th style="width:15%">
          Url
        </th>
        <th style="width:15%">
          Last Updated
        </th>
      </tr>
      @foreach (var healthCareProfessional in Model.HealthCareProfessionals)
      {
        <tr>
          <td style="text-align: center">
            <a href="@Url.Action("ClientLeads", "Home", new { viewName = "clientLeads", healthCareProfessionalId = healthCareProfessional.HealthCareProfessionalId})">
              <span class="fa fa-bullseye" aria-hidden="true"></span>
            </a>
          </td>
          <td style="text-align: center">
            <a href="@Url.Action("HealthCareProfessional", "Home", new {viewName = "healthCareProfessional", healthCareProfessionalId = healthCareProfessional.HealthCareProfessionalId})">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
          </td>
          <td>
            @healthCareProfessional.HealthCareProfessionalFirstName
          </td>
          <td>
            @healthCareProfessional.HealthCareProfessionalLastName
          </td>
          <td>
            @healthCareProfessional.HealthCareProfessionalTitle
          </td>
          <td>
            @healthCareProfessional.HealthCareProfessionalPracticeNumber
          </td>
          <td>
            @healthCareProfessional.HealthCareProfessionalUrl
          </td>
          <td>
            @healthCareProfessional.DateUpdated.ToShortDateString()
          </td>
        </tr>
      }
    </table>
  </div>
</div>
