﻿@model FosteringMinds.IdentityShared.LoginViewModel
@{
  ViewBag.Title = "Log in";
  Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
  @Html.AntiForgeryToken()
  <h2 class="form-signin-heading">Please sign in</h2>
  @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
  @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
  @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
  @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
  @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
  @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}

