﻿@model FosteringMinds.ClientWebUI.Models.AdminModel
@{
  ViewBag.Title = "Candice Gillespie - Admin";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<header id="page-title">
  <div class="container">
    <h1>Admin</h1>
  </div>
</header>
<section class="container">
  <div class="row">
    <aside class="col-md-3">
      <ul class="nav nav-list">
        @foreach (var m in Model.DefaultModel.MenuModel.Menus)
        {
          if (Model.DefaultModel.MenuModel.Menu.MenuViewName == m.MenuViewName)
          {
            <li style="background-color:#f1f2f7"><a href="@Url.Action("Index", "Admin", new { viewName = m.MenuViewName})"><i class="fa fa-circle-o"></i> @m.MenuDisplayText</a></li>
          }
          else
          {
            <li><a href="@Url.Action("Index", "Admin", new { viewName = m.MenuViewName})"><i class="fa fa-circle-o"></i> @m.MenuDisplayText</a></li>
          }
        }
        @*<li><a href="shortcodes-rows.html"><i class="fa fa-circle-o"></i> Bio</a></li>
          <li><a href="shortcodes-counters.html"><i class="fa fa-circle-o"></i> Service</a></li>
          <li><a href="shortcodes-toggles.html"><i class="fa fa-circle-o"></i> Contact Details</a></li>
          <li><a href="shortcodes-forms.html"><i class="fa fa-circle-o"></i> Practitioners</a></li>
          <li><a href="shortcodes-editor.html"><i class="fa fa-circle-o"></i>Procedure Codes</a></li>
          <li><a href="shortcodes-buttons.html"><i class="fa fa-circle-o"></i> ICD10 Codes</a></li>
          <li><a href="shortcodes-tabs-and-accordions.html"><i class="fa fa-circle-o"></i> Clients</a></li>*@
      </ul>
    </aside>
    <div class="col-md-9">
      @*@Model.DefaultModel.MenuModel.ViewName*@
      @Html.Raw(Model.ViewHtml)
      @*<h2><strong>Forms</strong> <small class="font300">Shortcodes</small>
        </h2>
        <form action="#" method="post">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" value="" class="form-control" placeholder="Input Placeholder">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Select</label>
                <select class="form-control pointer">
                  <option value="" selected="selected"></option>
                  <option value="">Option #1</option>
                  <option value="">Option #2</option>

                  <optgroup label="Optgroup">
                    <option value="">Option #1</option>
                    <option value="">Option #2</option>
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <label>Input</label>
                <input type="text" value="" class="form-control">
              </div>
              <div class="col-md-6">
                <label>Input</label>
                <input type="email" value="" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4">
                <label>Input</label>
                <input type="text" value="" class="form-control">
              </div>
              <div class="col-md-4">
                <label>Input</label>
                <input type="email" value="" class="form-control">
              </div>
              <div class="col-md-4">
                <label>Input</label>
                <input type="email" value="" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-6">
                <label class="block">Checkbox</label>
                <input type="checkbox" value="" class="form-control" checked="checked">
                <input type="checkbox" value="" class="form-control">
                <input type="checkbox" value="" class="form-control">
              </div>

              <div class="col-md-6">
                <label class="block">Radio</label>
                <input type="radio" name="radio_name" value="1" class="form-control" checked="checked">
                <input type="radio" name="radio_name" value="2" class="form-control">
                <input type="radio" name="radio_name" value="2" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label>Textarea</label>
                <textarea rows="10" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary"><i class="fa fa-check"></i> FORM SUBMIT</button>
              <button class="btn btn-primary disabled">FORM SUBMIT DISABLED</button>
            </div>
          </div>
        </form>*@

    </div>
  </div>
</section>

