﻿@model FosteringMinds.Web.SharedModels.AdminModel
@{
  var headerTitle = "[title]";
  var headerFirstName = "[first name]";
  var headerLastName = "[last name]";
  if (!string.IsNullOrEmpty(Model.HealthCareProfessional.HealthCareProfessionalTitle))
  {
    headerTitle = Model.HealthCareProfessional.HealthCareProfessionalTitle;
  }
  if (!string.IsNullOrEmpty(Model.HealthCareProfessional.HealthCareProfessionalFirstName))
  {
    headerFirstName = Model.HealthCareProfessional.HealthCareProfessionalFirstName;
  }
  if (!string.IsNullOrEmpty(Model.HealthCareProfessional.HealthCareProfessionalLastName))
  {
    headerLastName = Model.HealthCareProfessional.HealthCareProfessionalLastName;
  }
}
<div class="row">
  <div class="col-md-12">
    <h1>@headerTitle @headerFirstName @headerLastName</h1>
    <h2>Leads</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-default" id="btnNewLead" data-toggle="modal" data-target="#leadModal">
      New Lead
    </button>
    <div class="modal fade" id="leadModal" tabindex="-1" role="dialog" aria-labelledby="leadModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="leadModalLabel">Lead</h4>
          </div>
          <div class="modal-body" id="leadModalBody">
            @Html.Partial("partials/_clientLeadModalPartial", Model)
          </div>
          <div class="modal-footer">
              <span class="alert alert-success" role="alert" id="modelStateIndicator" style="display: none">Successfully saved!</span>
            <button type="button" class="btn btn-default" id="btnCloseLeadModal" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btnSaveLead">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12" id="clientLeadsContainer">
    @Html.Partial("partials/_clientLeadsListPartial", Model)
  </div>
</div>