﻿@model FosteringMinds.Web.SharedModels.AdminModel
<table class="table table-bordered">
  <thead>
  <tr>
    <th style="width: 2%"></th>
    <th style="width: 5%">Date</th>
    <th style="width: 20%">First name</th>
    <th style="width: 20%">Surname</th>
    <th style="width: 15%">Contact number</th>
    <th style="width: 18%">Email</th>
    <th style="width: 10%">Status</th>
    <th style="width: 10%">Type</th>
  </tr>
  </thead>
  <tbody>
    @foreach (var l in Model.ClientLeads)
      {
        <tr>
          <td style="text-align: center">
            <button type="button" class="btn btn-link btnEditClientLead" aria-label="Left Align" data-health-care-professional-id="@l.HealthCareProfessionalId" data-client-lead-id="@l.ClientLeadId">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
          </td>
          <td>
            @l.DateCreated.ToShortDateString()
          </td>
          <td>
            @l.ClientFirstName
          </td>
          <td>
            @l.ClientSurname
          </td>
          <td>
            @l.ContactNumber
          </td>
          <td>
            @l.EmailAddress
          </td>
          <td>
            @l.LeadStatus
          </td>
          <td>
            @l.ClientLeadTypeDescription
          </td>
        </tr>
    }
  </tbody>
</table>

