﻿@using FosteringMinds.Models
@model FosteringMinds.Web.SharedModels.AdminModel

@if (Model.ValidationResults != null && Model.ValidationResults.Count > 0)
{
  foreach (var vr in Model.ValidationResults)
  {
    <div class="alert alert-danger" role="alert">
      @vr.ErrorMessage
    </div>
  }
}

@if (Model.ClientLead != null)
{
  var clientFirstName = string.Empty;
  var clientSurname = string.Empty;
  var contactNumber = string.Empty;
  var emailAddress = string.Empty;
  var message = string.Empty;
  var referrer = string.Empty;
  var leadTypeDescription = string.Empty;
  if (!string.IsNullOrEmpty(Model.ClientLead.ClientFirstName))
  {
    clientFirstName = Model.ClientLead.ClientFirstName;
  }
  if (!string.IsNullOrEmpty(Model.ClientLead.ClientFirstName))
  {
    clientSurname = Model.ClientLead.ClientSurname;
  }
  if (!string.IsNullOrEmpty(Model.ClientLead.ContactNumber))
  {
    contactNumber = Model.ClientLead.ContactNumber;
  }
  if (!string.IsNullOrEmpty(Model.ClientLead.EmailAddress))
  {
    emailAddress = Model.ClientLead.EmailAddress;
  }
  if (!string.IsNullOrEmpty(Model.ClientLead.Referrer))
  {
    referrer = Model.ClientLead.Referrer;
  }
  if (!string.IsNullOrEmpty(Model.ClientLead.ClientLeadTypeDescription))
  {
    leadTypeDescription = Model.ClientLead.ClientLeadTypeDescription;
  }
  if (!string.IsNullOrEmpty(Model.ClientLead.Message))
  {
    message = Model.ClientLead.Message;
  }
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadClientFirstName">Name</label>
          <input type="text" class="form-control" id="leadClientFirstName" value="@clientFirstName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadClientSurname">Surname</label>
          <input type="text" class="form-control" id="leadClientSurname" value="@clientSurname">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadContactNumber">Contact Number</label>
          <input type="text" class="form-control" id="leadContactNumber" value="@contactNumber">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadEmailAddress">Email</label>
          <input type="text" class="form-control" id="leadEmailAddress" value="@emailAddress">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadTypeDescription">Lead Type</label>
          <input type="text" class="form-control" id="leadTypeDescription" value="@leadTypeDescription">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadReferrer">Referrer</label>
          <input type="text" class="form-control" id="leadReferrer" value="@referrer">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="leadMessage">Message</label>
          <textarea id="leadMessage" class="form-control">@message</textarea>
        </div>
      </div>
    </div>
    <div class="btn-group" data-toggle="buttons">
      @if (Model.ClientLead.LeadStatus == LeadStatus.Pending)
      {
        <label class="btn btn-primary active">
          <input type="radio" id="chkLeadStatusPending" autocomplete="off"> Pending
        </label>
        <label class="btn btn-primary">
          <input type="radio" id="chkLeadStatusFollowedUp" autocomplete="off"> Followed Up
        </label>
      }
      else if (Model.ClientLead.LeadStatus == LeadStatus.FollowedUp)
      {
        <label class="btn btn-primary">
          <input type="radio" id="chkLeadStatusPending" autocomplete="off"> Pending
        </label>
        <label class="btn btn-primary active">
          <input type="radio" id="chkLeadStatusFollowedUp" autocomplete="off"> Followed Up
        </label>
      }
    </div>
    <input type="hidden" id="leadStatus" value="0" />
    <input type="hidden" id="clientLeadId" value="@Model.ClientLead.ClientLeadId" />
    <input type="hidden" id="clientLeadTypeId" value="@Model.ClientLead.ClientLeadTypeId" />
    <input type="hidden" id="healthCareProfessionalId" value="@Model.ClientLead.HealthCareProfessionalId" />
  </form>
}
else
{
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadClientFirstName">First name</label>
          <input type="text" class="form-control" id="leadClientFirstName" placeholder="Lead First Name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadClientSurname">Surname</label>
          <input type="text" class="form-control" id="leadClientSurname" placeholder="Lead Surname">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadContactNumber">Contact Number</label>
          <input type="text" class="form-control" id="leadContactNumber" placeholder="Lead Contact Number">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadEmailAddress">Email</label>
          <input type="text" class="form-control" id="leadEmailAddress" placeholder="Lead Email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadTypeDescription">Lead Type</label>
          <input type="text" class="form-control" id="leadTypeDescription" placeholder="Lead Type">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="leadReferrer">Referrer</label>
          <input type="text" class="form-control" id="leadEmailAddress" placeholder="Lead Referrer">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="leadMessage">Message</label>
          <textarea id="leadMessage" class="form-control" placeholder="Enter a message"></textarea>
        </div>
      </div>
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" id="chkLeadStatusPending" autocomplete="off"> Pending
      </label>
      <label class="btn btn-primary">
        <input type="radio" id="chkLeadStatusFollowedUp" autocomplete="off"> Followed Up
      </label>
    </div>
    <input type="hidden" id="leadStatus" value="0"/>
    <input type="hidden" id="clientLeadId" value="0"/>
    <input type="hidden" id="healthCareProfessionalId" value="@Model.HealthCareProfessional.HealthCareProfessionalId"/>
  </form>
}

