﻿@model FosteringMinds.ClientWebUI.Models.AdminModel
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/owl-carousel/owl.carousel.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/owl-carousel/owl.theme.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/owl-carousel/owl.transitions.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/magnific-popup/magnific-popup.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/superslides.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/slider.revolution.v4/css/settings.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/essentials.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/layout.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/layout-responsive.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/red.css")" />
</head>
<body>
  @Html.Partial("Partials/_headerPartial", Model.DefaultModel)
<div id="wrapper">
  @RenderBody()
</div>
<script type="text/javascript" src="~/Scripts/plugins/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(document).on("click", "#btnSaveCounsellor", function (e) {
      var counsellor = {
        CounsellorId: 0,
        CounsellorName: '',
        CounsellorTitleDescription: '',
        CounsellorSubTitleDescription: '',
        CounsellorBio: '',
        CounsellorPracticeNumber: '',
        CounsellorDomain: ''
      };
      var postData = {
        counsellor: counsellor,
        viewName: 'counsellorDetails'
      };
      $.ajax({
        type: "POST",
        url: "Admin/SaveCounsellor",
        data: JSON.stringify(postData),
        success: function (data) {
          console.log(data);
        },
        contentType: "application/json; charset=utf-8",
        dataType: "html"
      });
    });
  });
</script>
</body>
</html>
