﻿@model FosteringMinds.ClientWebUI.Models.DefaultModel
<!DOCTYPE html>

<html>
<head>
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/owl-carousel/owl.carousel.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/owl-carousel/owl.theme.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/owl-carousel/owl.transitions.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/magnific-popup/magnific-popup.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/superslides.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/slider.revolution.v4/css/settings.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/essentials.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/layout.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/layout-responsive.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/red.css")" />
</head>
<body class="boxed pattern8">
  @Html.Partial("Partials/_headerPartial", Model)
<div id="wrapper">
  @RenderBody()
</div>
  <footer>

    <!-- copyright , scrollTo Top -->
    <div class="footer-bar">
      <div class="container">
        <span class="copyright">Copyright © Your Company, LLC . All Rights Reserved.</span>
        <a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
      </div>
    </div>
    <!-- copyright , scrollTo Top -->
    <!-- footer content -->
    <div class="footer-content">
      <div class="container">

        <div class="row">


          <!-- FOOTER CONTACT INFO -->
          <div class="column col-md-4">
            <h3>CONTACT</h3>

            <p class="contact-desc">
              Atropos is a very powerful HTML5 template, you will be able to create an awesome website in a very simple way.
            </p>
            <address class="font-opensans">
              <ul>
                <li class="footer-sprite address">
                  PO Box 21132<br>
                  Here Weare St, Melbourne<br>
                  Vivas 2355 Australia<br>
                </li>
                <li class="footer-sprite phone">
                  Phone: 1-800-565-2390
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:support@yourname.com">support@yourname.com</a>
                </li>
              </ul>
            </address>

          </div>
          <!-- /FOOTER CONTACT INFO -->
          <!-- FOOTER LOGO -->
          <div class="column logo col-md-4 text-center">
            <div class="logo-content">
              <img class="animate_fade_in" src="@Url.Content("~/Content/images/logo_footer.png")" width="200" alt="" style="opacity: 1; right: 0px;">
              <h4>ATROPOS TEMPLATE</h4>
            </div>
          </div>
          <!-- /FOOTER LOGO -->
          <!-- FOOTER LATEST POSTS -->
          <div class="column col-md-4 text-right">
            <h3>RECENT POSTS</h3>

            <div class="post-item">
              <small>JANUARY 2, 2014 BY ADMIN</small>
              <h3><a href="blog-single-sidebar-left.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
            </div>
            <div class="post-item">
              <small>JANUARY 2, 2014 BY ADMIN</small>
              <h3><a href="blog-single-sidebar-left.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
            </div>
            <div class="post-item">
              <small>JANUARY 2, 2014 BY ADMIN</small>
              <h3><a href="blog-single-sidebar-left.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
            </div>

            <a href="blog-masonry-sidebar.html" class="view-more pull-right">View Blog <i class="fa fa-arrow-right"></i></a>

          </div>
          <!-- /FOOTER LATEST POSTS -->

        </div>

      </div>
    </div>
    <!-- footer content -->

  </footer>
</body>
</html>
