﻿<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/essentials.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/layout.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/layout-responsive.css")" />
  <link rel="stylesheet" href="@Url.Content("~/Content/css/red.css")" />
</head>
<body style="background-color: rgba(244,245,247,0.9)">
  <div id="wrapper" style="padding-top:20px">
    @RenderBody()
  </div>
</body>
</html>
