﻿@model FosteringMinds.IdentityShared.LoginViewModel
@{
  ViewBag.Title = "Candice Gillespie - Login";
  Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Log <strong>In</strong></h2>


      @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "white-row", role = "form" }))
      {
        @Html.AntiForgeryToken()
        if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
          <div class="alert alert-danger">
            <i class="fa fa-frown-o"></i>
            @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
              <div>@modelError.ErrorMessage</div>
            }
          </div>
        }
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              @Html.LabelFor(m => m.Email)
              @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              @Html.LabelFor(m => m.Password)
              @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
          </div>
        </div>
        <div class="row">
          @*<div class="col-md-6">
            <span class="remember-box checkbox">
              <label for="rememberme">
                <input type="checkbox" id="rememberme" name="rememberme">Remember Me
              </label>
            </span>
          </div>*@
          <div class="col-md-6 col-md-offset-6">
            <input type="submit" value="Sign In" class="btn btn-primary pull-right" data-loading-text="Loading...">
            @*<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>*@
          </div>
        </div>
      }
    </div>
  </div>
</section>
